* {
    margin: 0;
    padding: 0;
}

.corpo {
    display: table;
    background-color: rgb(94, 255, 0);
    height: 500px;
    width: 80%;
    border-radius: 5%;
    margin: 0 auto;
    margin-top: 100px;
}